include ../mixins/gallery-item.pug
include ../mixins/testimonials-item.pug

block variables
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        if cssLibs
            link(rel="stylesheet", href=cssLibs)
        link(rel="stylesheet", href=styles)
    body
        .wrapper
            block page
        if jsLibs
            script(src=jsLibs)
        script(src=scripts)